language: csharp
sudo: required
dist: trusty

dotnet:
  - 2.1.105
  - latest
# mono:
#   - 4.6.1
#   - 4.8.1
#   - latest # => "stable release"
#   # - weekly # => "latest commits"
os:
  - linux
  - osx

script:
  - ./build.sh

# matrix:
#   allow_failures:
#     - mono: latest
#     - mono: alpha
#     - mono: beta
#     - mono: weekly
#     - os: osx # times out too often, disable at own risk
