source https://nuget.org/api/v2

nuget FSharp.Core redirects: force
nuget MongoDB.Bson

group Build
    source https://nuget.org/api/v2
    nuget FAKE

group Test
    source https://nuget.org/api/v2

    nuget FSharp.Core redirects: force
    nuget Expecto