source https://api.nuget.org/v3/index.json

nuget MongoDB.Bson
nuget TypeShape

group  Test
    source https://api.nuget.org/v3/index.json
    storage: none
    nuget Expecto
    nuget Microsoft.NET.Test.Sdk
    nuget YoloDev.Expecto.TestSdk

// [ FAKE GROUP ]
group Build
    source https://api.nuget.org/v3/index.json
    storage: none
    nuget Fake.Core.ReleaseNotes
    nuget Fake.Core.Target
    nuget Fake.DotNet.Cli
    nuget Fake.DotNet.Paket
    nuget Fake.Tools.Git
